<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>todo page</title>
  </head>
  <body>
    <h1>ToDo List</h1>
    <p><%= title %></p>

    <form action="/create" method="post">
      <input type="text" name="title" />
      <input type="submit" value="追加" />
    </form>

    <ul>
      <% todos.map((todo, i)=> { %>
      <li style="display: flex">
        <%= i %> <%= todo.title %>
        <form action="/delete" method="post">
          <input type="submit" value="削除" />
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
