<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>todo page</title>
  </head>
  <body>
    <h1>ToDo List</h1>
    <p><%= title %></p>

    <form action="/" method="post">
      <input type="text" name="title" />
      <input type="submit" value="追加" />
    </form>

    <ul>
      <% todos.map((todo)=> { %>
      <li><%= todo.title %></li>
      <% }) %>
    </ul>
  </body>
</html>
